<%= form_tag "/sessions/login", method: "post" do %>

<h6><%= label_tag 'Email' %></h6>
<%= text_field_tag 'email' %>
<br /> <br />

<h6><%= label_tag 'Mot de passe ' %></h6>
<%= password_field_tag 'password' %>
<br /> <br />


  <%= submit_tag "Se connecter" %>

<% end %>
