<%= form_tag "/sessions/sign_up", method: "post" do %>
<br><br>
<div class="sign_up-global">
  <div class="sign_up-left">
    <h6><%= label_tag 'Prénom' %></h6>
    <%= text_field_tag 'first_name' %>
    <br>

    <h6><%= label_tag 'Nom' %></h6>
    <%= text_field_tag 'last_name' %>
    <br>

    <h6><%= label_tag 'Email' %></h6>
    <%= text_field_tag 'email' %>
    <br>

    <h6><%= label_tag 'Age' %></h6>
    <%= text_field_tag 'age' %>
    <br>

    <h6><%= label_tag 'Ville' %></h6>
    <%= text_field_tag 'city' %>
    <br>
  </div>

  <div class="sign_up-right">
    <h6><%= label_tag 'Code postal' %></h6>
    <%= text_field_tag 'postal_code' %>
    <br>

    <h6><%= label_tag 'Mot de passe ' %></h6>
    <%= password_field_tag 'password' %>
    <br>

    <h6><%= label_tag 'Confirmer le mot de passe ' %></h6>
    <%= password_field_tag 'password_confirmation' %>
    <br>

    <%= submit_tag "S'enregistrer" %>
  </div>
</div>

<% end %>
