<div class="container">
  <div class="row">
    <div class="col"><h1>Prénom</h1></div>
    <div class="col"><h1>Nom</h1></div>
    <div class="col"><h1>Description</h1></div>
    <div class="col"><h1>Email</h1></div>
    <div class="col"><h1>Age</h1></div>
    <div class="col"><h1>Ville</h1></div>

    <div class="w-100"></div>

    <div class="col"><%=@user.first_name %></div>
    <div class="col"><%=@user.last_name %></div>
    <div class="col"><%=@user.email %></div>
    <div class="col"><%=@user.age %></div>
    <div class="col"><%= link_to(@user.city.name, "cities/#{@user.city.id}") %></div>
  </div>
</div>
