<html>
  <body>

    <% if @gossip != nil %>
      <% if @gossip.errors.any? %>
      <br>
    <h6>Oups, nous n'avons pas réussi à éditer ce gossip pour la (ou les) raison(s) suivante(s) :</h6>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <% end %>

    <%= form_tag "/gossips/#{params[:id]}", method: "put" do %>
    <br>
      <h6><%= label_tag 'Titre' %></h6>
      <%= text_field_tag 'title' %>
      <br>

      <h6><%= label_tag 'Contenu' %></h6>
      <%= text_area_tag 'content' %>
      <br>

      <%= submit_tag "Mettre à jour le potin" %>
    <% end %>
  </body>
</html>
