#alert si potin sauvegardé
<% if @gossip.errors.any? %>
  <% else %>
  <p>Trop bien ton potin a été sauvegardé bravo !</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col"><h1>Title</h1></div>
    <div class="col"><h1>Author</h1></div>
    <div class="col"><h1>Content</h1></div>
    <div class="col"><h1>Creation_date</h1></div>
    <div class="w-100"></div>
        <div class="col"><%=@gossip.title %></div>
    <div class="col"><%=@gossip.user.first_name %> <%=@gossip.user.last_name %></div>
    <div class="col"><%=@gossip.content %></div>
    <div class="col"><%=@gossip.created_at %></div>

  </div>
</div>
